body {
    margin: 0px;
    width: 100%;
}
@media all and (min-height: : 1000px){


    #map{
        /*width:1024px;*/
        height: 800px;
        z-index: 0;
    }
    
}
@media all and (max-height: 1000px){
    
    #map{
        /*width:1024px;*/
        height: 500px;
        z-index: 0;
    }    
}

#contact {
    height: 500px;
    position: relative;
    top: -100px;    
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(26%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); 
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,1) 100%); 
    background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,1) 100%); 
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,1) 100%); 
    background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd3d1cf', endColorstr='#cbcbcb',GradientType=0 ); 
}
#info {
    height: 400px;
    z-index: 1;
    background: white;
    box-shadow: 10px 10px 10px black;
}
#contact h1 {
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;
    color: #000;
    font-size: 48px;
    font-weight: 100;
}